nav > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  margin-bottom: -1px;
}

nav > ul > li {
  margin-left: 5px;
}

.activ, a:hover {
    color: #DEB77C;
  }

  a {
    text-decoration: none;
    font-weight: 900;
    font-size: 16px;
    color:#EFEFEF;
    font:bold 16px Arial, Helvetica, sans-serif;
    text-transform: uppercase
  }